body {
  background-color: orange; 
  color: white;
  text-align: center;
}

body h1 {
  color: black;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  background-origin: border-box;
  color: orange;
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 16px;
}

.topnav li {
  float: left;
}     

.topnav li:last-child {
  border-right: none;
}

.topnav li a, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;
  background-color: black;
}

.topnav li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
  color: black;
  background-color: white;
}

.topnav li.dropdown {
  display: inline-block;
}

.topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav .dropdown-content a {
  color: orange;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav .dropdown-content a:hover {
  background-color: orange;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav .active {
  color: orange;
  background-color: black;
}