@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

body{
  background-color: rgb(211, 211, 211); 
  color: rgb(0, 0, 0);
  text-align: center;
}

h1 {
  color: black;
}

.header {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 500px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0,.5);
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}

.header--home{
  height: 700px;
}

@keyframes fade-and-come-down {
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.header h1 { 
  font-size: 60px; 
  padding: 15px;
  text-align: center;
  color: #000;
  animation: fade-and-come-down .7s forwards;
} 

.staffColumn {
  float: left;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}

.staffColumn__child *:not(:last-child){
  margin-bottom: 10px;
}

.staffColumn.right {
  width: 15%;
  padding: 2.5%;
  display: table-column;
}

@media screen and (max-width: 600px) {
  .staffColumn.left, .staffColumn.leftMid, .staffColumn.mid, .staffColumn.rightMid, .staffColumn.right {
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .staffColumn.left, .staffColumn.leftMid, .staffColumn.mid, .staffColumn.rightMid, .staffColumn.right {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .staffColumn.left, .staffColumn.leftMid, .staffColumn.mid, .staffColumn.rightMid, .staffColumn.right {
    width: 100%;
  }
}

.topnav{
  display: flex;
  background-color: #000;
}

.topnav *{
  padding: 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color .2s;
}

.topnav *:hover{
  background-color: #2F4F4F;
}

.topnav .dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'], #respond input[type='email'], #respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.4em;
}
