body {
  background-color: gray; 
  color: rgb(0, 0, 0);
  text-align: center;
}

body h1 {
  font-family:Algerian;
}

body {
  font-family: Calibri;
}

h1 {
  font-family:Algerian;
  color: black;
}

.header {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  height: 500px;
  border-top: 0.5px solid transparent;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.header h1 { 
  font-size: 45px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: normal;
  padding: 15px;
  text-align: center;
  color: orange;
} 

.staffColumn {
  float: left;
  display: table;
}

.staffColumn.left {
  width: 15%;
  padding: 2.5%;
  display: table-column;
}

.staffColumn.leftMid {
  width: 15%;
  padding: 2.5%;
  display: table-column;
}

.staffColumn.mid {
  width: 15%;
  padding: 2.5%;
  display: table-column;
}

.staffColumn.rightMid {
  width: 15%;
  padding: 2.5%;
  display: table-column;
}

.staffColumn.right {
  width: 15%;
  padding: 2.5%;
  display: table-column;
}

@media screen and (max-width: 600px) {
  .staffColumn.left, .staffColumn.leftMid, .staffColumn.mid, .staffColumn.rightMid, .staffColumn.right {
    width: 100%;
  }
}

.staffColumn.left {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.leftMid {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.mid {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.rightMid {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.right {
  width: 15%;
  padding: 2.5%;
}

@media screen and (max-width: 600px) {
  .staffColumn.left, .staffColumn.leftMid, .staffColumn.mid, .staffColumn.rightMid, .staffColumn.right {
    width: 100%;
  }
}

.staffColumn.left {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.leftMid {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.mid {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.rightMid {
  width: 15%;
  padding: 2.5%;
}

.staffColumn.right {
  width: 15%;
  padding: 2.5%;
}

@media screen and (max-width: 600px) {
  .staffColumn.left, .staffColumn.leftMid, .staffColumn.mid, .staffColumn.rightMid, .staffColumn.right {
    width: 100%;
  }
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 16px;
  text-align: center;
  background-color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.topnav li {
  float: left;
}  

.topnav li a {
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: gray;
  background-color: black;
}

li a, .dropbtn {
  display: block;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
  color: black;
  background-color: white;
}

.topnav li.dropdown {
  display: inline-block;
}

.topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav .dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.topnav .dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav .active {
  color: gray;
  background-color: darkslategray;
}

footer .footer {
  background-color: darkgray;
  color: white;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'], #respond input[type='email'], #respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.4em;
}
